h1, h2, h3, h4, h5 {
    margin: 0;
}

.subtitle {
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    color: #222222;
    margin-top: 8px;
}

.call-btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    font-size: 14px;
    font-weight: normal;
    &:hover {
        background-image: none;
        background-color: #1eacc7;
    }
}

.ability-sign {
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    width: 112px;
    height: 24px;
    font-weight: normal;
    font-size: 11px;
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
}

.title {
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
    color: #000;
    margin-top: 42px;
    text-align: center;
}

xs-hide {
    display: none;
}

header {
    nav {
        height: 50px;
        background-color: #212121;
        position: fixed;
        z-index: 5;
        width: 100%;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 14px 70px;
        margin: 0;
        .menu-item {
            border-right: 2px dotted #000;
            padding-right: 40px;
        }
        .menu-item:last-child {
            border: none;
        }
        .menu-link {
            font-weight: 300;
            font-size: 15px;
            color: #fff;
            text-decoration: none;
        }
        .menu-link:hover {
            color: #1FBAD6;
            transition: 0.3s;
        }
    }

    .subheader {
        height: 85px;
        background: rgba($color: #000000, $alpha: 0.6);
        position: absolute;
        width: 100%;
        top: 50px;
        z-index: 3;
        .subheader-logo {
            margin-top: 18px;
            max-width: 100%;
            display: block;
        }
        .subheader-official {
            margin-top: 6px;
            font-weight: 200;
            font-size: 13px;
            color: #fff;
            opacity: 0.5;
        }
        .subheader-callus {
            font-weight: 300;
            font-size: 12px;
            color: #fff;
            margin-top: 19px;
            text-align: right;
        }
        .subheader-number {
            text-decoration: none;
            display: block;
            margin-top: 8px;
            font-weight: normal;
            font-size: 22px;
            color: #fff;
            text-transform: uppercase;
            text-align: right;
            line-height: 12px;
        }
    }
}

.hamburger {
    display: none;
}

.promo {
    padding: 200px 0 135px;
    min-height: 800px;
    background: url('../img/promo-bg.jpg') center center/cover no-repeat;
    position: relative;
    z-index: 1;
    .promo-title {
        font-weight: 900;
        font-size: 60px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        line-height: 60px;
    }
    .promo-subtitle {
        margin-top: 22px;
        font-weight: 700;
        font-size: 36px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        line-height: 36px;
    }
    .promo-text {
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #fff;
        margin-top: 23px;
    }
    .promo-btn {
        display: block;
        margin: 118px auto 0;
        width: 255px;
        height: 63px;
        font-weight: normal;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
        background: #4CE2FF;
        box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border: none;
    }
    .promo-btn:hover {
        background-color: #1EACC7;
    }
}

.reasons {
    min-height: 850px;
    padding: 20px 0 65px;
    .reason-row {
        margin-top: 30px;
    }
    .reason-img {
        position: relative;
        width: 116px;
        height: 116px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 35px;
    }
    .reason-text {
        width: 371px;
    }
    .reason-block {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }
    .reason-title {
        font-size: 17px;
        line-height: 21px;
        color: #1EACC7;
    }
    .reason-description {
        font-weight: 300;
        font-size: 15px;
        line-height: 21px;
        color: #202020;
        margin-top: 10px;
    }
}

.mobile {
    min-height: 865px;
    padding: 50px 0 80px;
    background: url('/img/mobile-bg.png') center center/ cover no-repeat;
    .row {
        margin-top: 32px;
    }
    .card {
        margin: 0 auto;
        width: 320px;
        height: 280px;
        padding: 85px 0 30px;
        position: relative;
    }
    .card:nth-child(n+3) {
        margin-top: 10px;
    }
    .card-text {
        font-weight: normal;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }
    .card-plus {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 100%;
        padding: 6px;
        background-color: #000;
        margin: 0 auto;
        cursor: pointer;
        &::before {
            content: '';
            background-color: #1EACC7;
            width: 2px;
            height: 14px;
            display: block;
            transition: 0.3s all;
        }
        &::after {
            content: '';
            background-color: #1EACC7;
            width: 14px;
            height: 2px;
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.3s all;
        }
        &:hover {
            &::before, &::after {
                background-color: #FF5656;
            }
        }
    }
    .card1 {
        background: url('/img/card1.jpg') center center/ cover no-repeat;
    }
    .card2 {
        background: url('/img/card2.jpg') center center/ cover no-repeat;
    }
    .card3 {
        background: url('/img/card3.jpg') center center/ cover no-repeat;
    }
    .card4 {
        background: url('/img/card4.jpg') center center/ cover no-repeat;
        margin-top: 15px;
    }
    .card5 {
        background: url('/img/card5.jpg') center center/ cover no-repeat;
        margin-top: 15px;
    }
    .card6 {
        background: url('/img/card6.jpg') center center/ cover no-repeat;
        margin-top: 15px;
    }
}

.choose {
    min-height: 898px;
    background: url('/img/choose-bg.jpg') center center/cover no-repeat;
    padding: 55px 0 135px;
    .ability-sign {
        background-color: #fff;
        color: #070716;
    }
    .title {
        color: #fff;
    }
    .subtitle {
        color: #fff;
    }
    .choose-car {
        margin-top: 55px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .choose-text {
        font-weight: 300;
        font-size: 17px;
        line-height: 24px;
        color: #222222;
        text-align: center;
    }
}

.require {
    padding: 65px 0 84px;
    min-height: 915px;
    &-block {
        margin: 33px 0;
    }
    .nmb {
        margin-bottom: 0;
    }
    &-title {
        font-weight: normal;
        font-size: 22px;
        color: #1CA8C3;
    }
    &-list {
        margin-top: 22px;
        list-style-type: none;
        padding-left: 45px;
        font-weight: 300;
        font-size: 17px;
        line-height: 24px;
        li {
            margin-bottom: 10px;
            position: relative;
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: -32px;
                top: 3px;
                width: 20px;
                height: 20px;
                background: url('/img/icons/check_blue.png') center center/cover no-repeat;
            }
        }
    }
    &-text {
        font-weight: 300;
        font-size: 17px;
        line-height: 24px;
        color: #1CA8C3;
    }
    .red {
        .require-title {
            color: #FF5656;
        }
        .require-list {
            li {
                &:before {
                    background: url('/img/icons/check_red.png') center center/cover no-repeat;
                }
            }
        }
    }
}

.world {
    min-height: 716px;
    padding: 48px 0 52px;
    background: url('/img/world-bg.png') center center no-repeat;
    background-color: #080816;
    position: relative;
    .ability-sign {
        color: #070716;
        background-color: #fff;
    }
    .title {
        color: #fff;
    }
    .subtitle {
        color: #fff;
    }
    .world-btn {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        a {
            font-weight: normal;
            font-size: 15px;
            color: #1FBAD6;
            text-transform: uppercase;
            text-decoration: none;
            &:hover {
                color: #fff;
            }
        }
    }
}

footer {
    .footer-inner {
    min-height: 174px;
    background-color: #fff;
    display: flex;
    padding: 0 21px;
    justify-content: space-between;
    .footer-block {
        width: 33%;
        &:nth-child(3) {
            display: flex;
            justify-content: flex-end;
        }
    }
    .footer-block-1 {
        display: flex;
        padding: 50px 0 90px;
        width: 154px;
        justify-content: space-between;
        .footer-icon {
            width: 32px;
            height: 32px;
            border-radius: 100%;
            background-color: #070716;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 4;
            i {
                color: #fff;
            }
        }
    }
    .footer-block-2 {
        padding: 14px 0 58px;
        width: 390px;
        margin: 0 auto;
        .footer-line {
            height: 4px;
            width: 300px;
            margin: 0 auto;
            background-color: #1FBAD6;
        }
        .footer-nav {
            margin-top: 30px;
            .footer-nav-1 {
                display: flex;
                justify-content: space-around;
                font-weight: 300;
                font-size: 15px;
                text-transform: uppercase;
                a {
                    color: #070716;
                    text-decoration: none;
                }
            }
            .footer-nav-2 {
                font-weight: 300;
                font-size: 11px;
                display: flex;
                justify-content: space-between;
                margin: 16px 0 18px;
                a {
                    color: #999999;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
            .footer-language {
                display: block;
                margin: 0 auto;
                text-align: center;
                text-transform: uppercase;
                color: #1FBAD6;
                font-size: 11px;
                text-decoration: none;
            }
        }
    }
    .footer-block-3 {
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin-top: 35px;
        }
    }

}